:root {
  --font-size: 16px;

  --background-Table1: #00000054;
  --background-Main: black;
  --background-Panel: rgba(151, 151, 151, 0.15);
  --background-Button1: #2b2b2b;
  --background-Button2: #202020;
  --background-Button3: #171717;
  --background-Panel2: linear-gradient(180deg, #88888812, #8c8c8c12, #86868612, #57575705);
  --backgroung-animatePanel: linear-gradient(120deg,transparent,rgba(35, 39, 242, 0.192),transparent);

  --color-Main: white;

  --box-shadow-defoult: black;
  --box-shadow-Panel: rgba(63, 60, 60, 0.35);
  --box-shadow-Pabel2: white;
  --box-shadow-button: rgba(0, 0, 0, 0.6);


  --border-Table1: #262626;
  --border-Panel: rgba(0, 0, 0, 0.25);
  --border-button: black;
  --border-button2: #31313173;
  --border-Panel2: #ffffff7d;
  --border-bottom-input: white;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  color: var(--color-Main);
  background: var(--background-Main);


  &.whiteMode{
    --background-Main: white;
    --color-Main: black;
    --background-Table1: #00000054;
    --background-Panel: rgba(151, 151, 151, 0.15);
    --background-Button1: #afafaf;
    --background-Button2: #9a9a9a;
    --background-Button3: #636363;
    --background-Panel2: linear-gradient(180deg, #14141438, #e7e7e712, #2b2b2b2e, #3636364f);
    --box-shadow-defoult: #d5d5d5;
    --box-shadow-Panel: rgb(82 82 82 / 35%);
    --box-shadow-Pabel2: #000000;
    --border-Table1: #262626;
    --border-Panel: rgba(0, 0, 0, 0.25);
    --border-button: #979797;
    --border-button2: #31313173;
    --border-Panel2: #000000a6;
    --border-bottom-input: #000000;

  }
}

::-webkit-scrollbar {
  width: 10px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(255, 255, 255); 
} 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgb(0,0,0); 
}

body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
  height: 100vh;
  position: relative;
}



.ChangeViewMode{
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  z-index: 10;
  width: 30px;
}
.idSesion{
  svg{
    fill: var(--color-Main);
    *{
      stroke: var(--color-Main);
    }
  }

}


.FlexRow{
  display: flex;
    align-items: center;
    width: 95vw;
    max-width: 95vw;
    overflow-x: auto;
    justify-content: space-evenly;
    padding: 10px;

    div{
      
      margin: 0px 5px;
      &.ButtonModelling{
        flex: 0 1 auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
      }
      &.TableSystem{
        flex: 6 0 auto;
        height: 24vh;
        overflow-y: auto;
        background-color: var(--background-Table1);
        border: 1px solid var(--border-Table1);
      }
    }
    
    
}

.main_contain {
  position: relative;
  font-size: var(--font-size);
  padding-top: 15px;
  height: calc(100% - 25px);

    .ToMenuButtonDiv {
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 0px;
        border: none;
        background: none;
        svg{
            width: 30px;
        }
    }
    .TitleText{
      font-size: 25px;
      margin: 5px;
    }

    .ContentDiv{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 60%;
        
        .Panel{
            background-color: var(--background-Panel);
            box-shadow: -4px 3px 1px var(--box-shadow-Panel);
            border: 2px solid var(--border-Panel);
            margin: 3px 0px;

            table{
                text-align: center;
                font-size: var(--font-size);
                padding: 10px;
                border-spacing: 0px;
                min-width: 100%;
                .Title{
                    border-bottom: 1px solid;
                    padding-bottom: 5px;
                    text-align: center;
                }

                .addRowButton button{
                    background: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                    padding: 10px 0px;
                    font-size: var(--font-size);
                    color: var(--color-Main);
                  }
                tr{
                    td{
                        input{
                          width: 90%;
                        }
                    
                    }

                    &.disable{
                      input{
                        pointer-events: none;
                      }
                    }
                }   
            }

            &.MaxWidth{
                min-width: 100%;
            }
            progress{
                width: 90%;
                height: 20px;
            }

            &.TableInfo{
                display: inline-flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-evenly;
                position: sticky;
                bottom: 10px;
                padding: 10px;
                  div{
                    &.Yes{
                      margin: 5px;
                      border-bottom: 2px solid green;
                    }
                    &.No{
                      margin: 5px;
                      border-bottom: 2px solid red;
                    }
                  }
                  .ButtonApproved
                   {
                    height: 100%;
                    position: relative;
                    button{
                      padding: 7px;
                      width: 100%;
                      color: var(--color-Main);
                      display: flex;
                      flex-direction: row;
                      img{
                        width: 30px;
                        margin-right: 5px;
                      }
                      &.disabled{
                        pointer-events:none;
                      }
                      &.ButtonDefault{
                        clip-path: polygon(calc(100% - 10px) 0%, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0);
                        background: linear-gradient(90deg, rgba(53,0,245,1) 0%, rgba(172,0,245,1) 100%);
                        border: none;
                        font-size: var(--font-size);
                        align-items: center;
                        transition: all 1s;
                        &.Empty{
                          border: 2px solid white;
                          background: none;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -100%;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(
                                120deg,
                                transparent,
                                rgba(146, 148, 248, 0.4),
                                transparent
                                );
                            transition: all 650ms;
                        }
                        &:hover{
                            &:before{left: 100%;}
                        }
                      }
                      &.ButtonDefaultShadow{
                        clip-path: polygon(calc(100% - 10px) 0%, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 0);
                        background: linear-gradient(90deg, rgba(53,0,245,0.5) 0%, rgba(172,0,245,0.5) 100%);
                        position: absolute;
                        z-index: -1;
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 5px;
                        top: 3px;
                        }
                    } 
                } 
            }
        }
    }   

    &.RowSection{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
  
      .ContentDiv{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 98%;
  
        .Panel{
          &.RightPanel{
            flex: 3;
            overflow-y: auto;
            padding: 20px;
          }
          &.LeftPanel{
            flex: 1;
            .SystemInfo{
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                align-items: center;
                color: white;
                text-align: left;
                padding: 10px;
                justify-content: space-around;
                .paddl{
                    padding-left: 15px;
                }
            }
            .FlexColumn{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              div{
                width: 100%;
                button{
                  width: 96%;
                  text-align: start;
                }
              }
            }
          }
          .ButtonApprovedDiv button{
            display: flex;
            width: 94%;
            justify-content: space-between;
            margin: 3%;
            align-items: center;
            transition: box-shadow 1s ;
          
            &.red{
              box-shadow: inset -2px -2px 1px 0px red;
            }
            &.green{
              box-shadow: inset 2px 2px 1px 0px green;
            }
          }
        }
      }
      td{
        text-align: left;
      }
      th{
        border-bottom: 2px solid white;
      }
    }
}

.iconDelete img{ //в ог 
  width: 30px;
}


.scroll-table-body {
	height: 100%;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}
.scroll-table{
  table {
    width:100%;
    table-layout: fixed;
  }
  thead th {
    font-weight: bold;
    text-align: left;
    padding: 10px 15px;
    font-size: var(--font-size);
  }
  tbody td {
    text-align: left;
    padding: 10px 15px;
    font-size: var(--font-size);
  }
  
}

.ButtonCommand{
  background:  var(--background-Button1);
  color: var(--color-Main);
  border: 1px solid var(--border-button);
  padding: 14px;
  font-size: var(--font-size);
  border-radius: 10px;
  box-shadow: -3px 3px 1px var(--box-shadow-defoult);
  margin: 5px;
  transition: all 0.2s;
  position: relative;

  &.MaxWidth{
    width: 100%;
  }

  &.rightPadding{
    padding-right: 30px;
  }

  &:hover{
    box-shadow: -1px 1px 2px var(--box-shadow-button);
    background: var(--background-Button2);
  }
  &:active{
    border-radius: 5px;
    background: var(--background-Button3);
    box-shadow: -3px 3px 10px var(--box-shadow-defoult);
  }
  &.small{
    padding: 5px;
    font-size: var(--font-size);
    margin: 3px;
  }
  &.disable{
    pointer-events: none;
    background: var(--background-Button3);
    box-shadow: inset -1px 1px 2px var(--box-shadow-defoult);
    border: 1px solid var(--border-button2);
  }
  &.icon{
    padding: 5px 15px;
    width: fit-content;
    img{
      width: 32px;
    }
  }
}
.leaflet-attribution-flag{
  width: 0 !important;
}
.addButtonIcon{
  width: 25px;
  position: relative;
  top: 6px;
  left: -10px;
}
.iconButton{
  width: 25px;
  position: absolute;
  right: 4px;
  top: 10px;
}


.logoutbutton{
  position: relative;
    background: none;
    color: var(--color-Main);
    border: none;
    margin: 5px 25px 10px 5px;
  svg{
    width: 25px;
    position: absolute;
    right: -25px;
    top: -3px;
  }
}

input{
  padding: 10px;
  text-align: center;
  border: none;
  background: none;
  font-size: var(--font-size);
  color: var(--color-Main);

  

  &.disable{
      pointer-events: none;
  }
  &.small{
      width: 100px;
  }
}


.input-file {
	background: var(--background-Button1);
  color: var(--color-Main);
  border: 1px solid var(---border-button);
  padding: 14px;
  font-size: var(--font-size);
  border-radius: 10px;
  box-shadow: -3px 3px 1px var(--box-shadow-defoult);
  margin: 5px;
  transition: all 0.2s;
  position: relative;
  display: inline-block;

  span {
    position: relative;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    text-align: center;
    background: none;
    height: 100%;
    font-size: 15px;
    transition: all 0.3s ease;
    color: var(--color-Main);
    align-items: center;
    flex-direction: row;
  }

  input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
}

.ModellingDiv{ //для моделирования 
  .Divfieldset{
    width: fit-content;
    flex: none;
    fieldset{
      text-align: left;
      width: fit-content;
  
      div{
        width: fit-content;
      }
    }
  }
  
  .PanelWork{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
    .colum{
      flex: 1;
      button{
        width: 99%;
      }
  
    }
  
    .FlexColum{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
  
      button{
        margin: 5px;
      }
    }
  }
  .PanelSettings{
    display: flex;
    justify-content: space-around;
    height: 100%;
    text-align: left;
    fieldset{
      flex: 1;
    }
  }

  .SelectMode{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 45px;
    font-size: 18px;
    div{
      img{
        width: 40px;
        &:active{
          width: 30px;
        }
        &.disable{
          pointer-events: none;
        }
      }
    }
    
  }
}



.TableDefault{
  filter: drop-shadow(2px 4px 6px black);
  background-color: #72727226;
  border-collapse: collapse;
  border-spacing: 4px !important;
  padding: 0px !important;

  tr{
    background-color: rgba(8, 8, 8, 0.755);

    th{
      border: 1px solid white;
      border-top: none;
    }
    .addButtonIcon{
      left: 0px;
      top: 0px;
      width: 20px;
      margin: 0px 2px;
    }

    input{
      width: calc(100% - 20px) !important;
    }

    td, th{
      &.delete{
        width: 50px; text-align: center;
        .iconDelete{
          width: 25px;
          height: 25px;
        }
      }
    }
    
  }

}