@keyframes slideInFromBottom {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}


:root {
  --font-size: 16px;
  --background-Table1: #00000054;
  --background-Main: black;
  --background-Panel: rgba(151, 151, 151, 0.15);
  --background-Button1: #2b2b2b;
  --background-Button2: #202020;
  --background-Button3: #171717;
  --background-Panel2: linear-gradient(180deg, #88888812, #8c8c8c12, #86868612, #57575705);
  --backgroung-animatePanel: linear-gradient(120deg,transparent,rgba(35, 39, 242, 0.192),transparent);
  --color-Main: white;
  --box-shadow-defoult: black;
  --box-shadow-Panel: rgba(63, 60, 60, 0.35);
  --box-shadow-Pabel2: white;
  --box-shadow-button: rgba(0, 0, 0, 0.6);
  --border-Table1: #262626;
  --border-Panel: rgba(0, 0, 0, 0.25);
  --border-button: black;
  --border-button2: #31313173;
  --border-Panel2: #ffffff7d;
  --border-bottom-input: white;

  --color-bg-panel: #191919;
  --color-border1: rgb(0 57 181);
  
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  color: var(--color-Main);
  background: var(--background-Main);


  &.whiteMode{
    --font-size: 16px;
    --background-Table1: #00000054;
    --background-Main: #e8e8e8;
    --background-Panel: rgba(151, 151, 151, 0.15);
    --background-Button1: #c6c6c6;
    --background-Button2: #9e9e9e;
    --background-Button3: #dcdcdc;
    --background-Panel2: white;
    --backgroung-animatePanel: linear-gradient(120deg, transparent, rgba(35, 39, 242, 0.192), transparent);
    --color-Main: black;
    --box-shadow-defoult: none;
    --box-shadow-Panel: rgba(63, 60, 60, 0.35);
    --box-shadow-Pabel2: none;
    --box-shadow-button: rgba(0, 0, 0, 0.6);
    --border-Table1: #a7a7a7;
    --border-Panel: rgba(0, 0, 0, 0.25);
    --border-button: #bfbfbf;
    --border-button2: #31313173;
    --border-Panel2: #DCDCDC;
    --border-bottom-input: #bfbfbf;
  }
}


body{
  background-color: #18181b;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
  height: 100vh;
  position: relative;
  --scroll-size: 5px;
  --scroll-radius: 10px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb-color: #fff;
  ::-webkit-scrollbar {
    width: var(--scroll-size, 10px);
    height: var(--scroll-size, 10px);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color, grey);
    background-image: var(--scroll-thumb, none);
    border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
  }
  ::-webkit-scrollbar-track {
      background-color: var(--scroll-track, transparent);
      border-radius: var(--scroll-track-radius, var(--scroll-radius));
  }
}

.FlexRow{
  width: auto;
  padding: 2px;
  display: flex;
  align-items: center;
  max-width: 95vw;
  overflow-x: auto;
  justify-content: space-evenly;
    div{
      margin: 0px 5px;
      &.ButtonModelling{
        flex: 0 1 auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
      }
      &.TableSystem{
        flex: 6 0 auto;
        height: 24vh;
        overflow-y: auto;
        background-color: var(--background-Table1);
        border: 1px solid var(--border-Table1);
      }
    }
}

.main_contain { //все вкладки
  position: relative;
  font-size: var(--font-size);
  padding: 0px 0px 0px ;
  height: fit-content;
    .ToMenuButtonDiv {
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 0px;
        border: none;
        background: none;
        svg{
            width: 30px;
        }
    }
    .ContentDiv{
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 60%;
        display: flex;
        height: 100%;
        align-items: stretch;
    }   

    &.RowSection{
      display: flex;
      flex: 1;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
  
      .ContentDiv{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 98%;
  
        .Panel{
          &.RightPanel{
            flex: 3;
            overflow-y: auto;
            padding: 20px;
          }
          &.LeftPanel{
            flex: 1;
            .FlexColumn{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              div{
                width: 100%;
                button{
                  width: 96%;
                  text-align: start;
                }
              }
              &.stretch{
                align-items: stretch;
              }
              &.center{
                align-items: center;
              }
            }
          }
        }
      }
    }
}

.iconDelete img{ //в ог 
  width: 30px;
}
.addButtonIcon{
  width: 25px;
  position: relative;
  top: 6px;
  left: -10px;
}
.iconButton{
  width: 25px;
  position: absolute;
  right: 4px;
  top: 10px;
}




input{ //Что-это? общий инпут?
  padding: 10px;
  text-align: center;
  border: none;
  background: none;
  font-size: var(--font-size);
  color: var(--color-Main);
  &.disable{
      pointer-events: none;
  }
  &.small{
      width: 100px;
  }
}

.input-file{ //чтение файла
	background: var(--background-Button1);
  color: var(--color-Main);
  border: 1px solid var(---border-button);
  padding: 14px;
  font-size: var(--font-size);
  border-radius: 10px;
  box-shadow: -3px 3px 1px var(--box-shadow-defoult);
  margin: 5px;
  transition: all 0.2s;
  position: relative;
  display: inline-block;

  span {
    position: relative;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    text-align: center;
    background: none;
    height: 100%;
    font-size: 15px;
    transition: all 0.3s ease;
    color: var(--color-Main);
    align-items: center;
    flex-direction: row;
  }
  input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
}


.ModellingDiv{ //для моделирования 
  .PanelWork{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex:1;
    .colum{
      flex: 1;
      button{
        width: 99%;
      }
    }
  }
}


.DataTable{ //всплывающее окно информации
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 10;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;

    .closebutton{
      display: flex;
      margin: 15px;
      flex-direction: row-reverse;
      button{
        background: none;
        border: none;
        img{
          width: 25px;
        }
        &.LoadExel{
          margin-right: 45px;
        }
      }
    }
    .DataBody{
      margin: 20px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 90px);
    }
    .GrafDiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      .js-plotly-plot{
        padding: 0px 0px 5px 0px;
        width: 100%;
      }
    }
}

.ComponentSelect{ // выбранный компонент
        .ContentDiv{
          flex-direction: column !important;
          .LeftPanel{
            flex: none !important;
            margin-left: 60px;
            .FlexColumn{
              display: flex;
              flex-wrap: wrap;
              flex-direction: row !important;
              div{
                width: auto;
                flex: 1;
                &.ButtonApprovedDiv button{
                  width: 160px !important;
                  margin: 0px !important;
                  padding: 5px;
                }
                .ButtonCommand{
                  white-space: nowrap;
                }
              }
            }
            .OGList{
              max-height: 20vh;
              overflow-y: auto;
            }
            
          }
        }

        .ToMenuButtonDiv{
          position: absolute !important;
        }
      }


