.ToMenuButtonDiv{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 0px;
    border: none;
    //background: none;

    img{
      width: 30px;
    }
  }

  .button_flex{
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
  }
  
  .main_contain{
      height: 90vh;
      max-width: 99%;
      font-size: 20px;
  }   
  .button_level{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin-top: 15px;
  }
  .button_level div{
      margin: 10px;
      padding: 3px;
      flex: 1;
  }
  
  .button_level button{
      background: none;
      height: 100%;
      width: 100%;
      font-size: 30px;
  }
  .titleText{
    color: black;
    font-size: 25px;

  }




table{
    transition: all 1s ease-out;
    border: 1px solid #013A63;
      border-radius: 10px;
      border-spacing: 0px;
      filter: drop-shadow(10px 10px 21px #A9D6E5);
  
    tr:first-child{
        
        th:first-child{
          border-top-left-radius: 10px;
        }
        th:last-child{
          border-top-right-radius: 10px;
        }
        th{
          background-color: #014F86;
          color: white;
        }
      }
    
    tr:last-child{
        
      td:first-child{
        border-bottom-left-radius: 10px;
      }
      td:last-child{
        border-bottom-right-radius: 10px;
      }
    }
    .addRowButton button{
      background: none;
      border: none;
      width: 100%;
      height: 100%;
      padding: 10px 0px;
      font-size: 18px;
    }    
    
  
    tr{
      height: 35px;
      font-size: 20px;
  
      .iconDelete{
        width: 25px;
        height: 25px;
      }
      .small{
        width: 100px;
      }
      td {
        padding: 5px;
        border-top: 1px solid #013A63;
        background-color: #A9D6E5;
        
        input{
          padding: 10px;
          text-align: center;
          pointer-events: none;
          border: none;
          background: none;
          font-size: 18px;
        }
      }
      &.active 
      {
        input{
          pointer-events: auto;
        }
        input:focus{
            //background-color: #468FAF;
            border: none;
            border-bottom: 3px solid red;
            
            border-radius: 5px;
          }
      }
      
  
    }
    
  }
  
  
  .DataTable{
    transition: all 1s ease-out;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    .PanelTable{
      width: 100%;
      position: sticky;
      background-color: #014F86;
      border-radius: 10px;
      margin-top: 20px;
      bottom: 10px;
      color: white;
  
      .TableInfo{
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        padding: 5px 0px;
  
        div{
          &.Yes{
            border-bottom: 2px solid green;
          }
          &.No{
            border-bottom: 2px solid red;
          }
        }
        .ButtonApproved
         {
          height: 100%;
          button{
            background-color: #013A63;
            border: solid 2px #012A4A;
            border-radius: 10px;
            padding: 7px;
            width: 100%;
            font-size: 18px;
            color: #FFFFFF;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
              width: 30px;
              margin-right: 5px;
            }
  
            &.Save{
              box-shadow: 3px 3px 3px green;
            }
            &.NotSave{
              box-shadow: 3px 3px 3px red;
            }
            &.disabled{
              background-color: #24608b;
              border: solid 2px #acc5d8;
              pointer-events:none;
            }
            &:active{
              padding: 5px;
              background-color: #012c4b;
            }
          }
        }
  
      }
    }
  
    
  
  }